.page {
  background-color: #eaf4fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 370px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  text-align: left;
  margin-left: 5px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #3f3f4f;
  outline: none;
}

.login-button {
  padding: 12px;
  background-color: #3f3f4f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #575767;
}

.terms-text {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}

.create-account-button {
  padding: 10px;
  background-color: transparent;
  color: #3f3f4f;
  border: 1px solid #3f3f4f;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s;
}

.create-account-button:hover {
  background-color: #3f3f4f;
  color: #ffffff;
}

.login-link {
  color: #3f3f4f;
  font-size: 0.9em;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}